:root {
  --backgroundColorVar: #f8f9fa;
  --textColorVar: #747474;
  --borderColorVar: #747474;
}

.pODMwrapper {
  width: 80vw;
  height: 80vh;

  border: 1px solid var(--borderColorVar);

  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 15px;

  background-color: var(--backgroundColorVar);
}


.pODwrapper {
  width: 100%;
  height: 80%;
  margin: 20px;

  overflow-y: auto;
}

.pODCancel {
  position: absolute;

  top: 10px;
  right: 10px;

  cursor: pointer;

  font-size: 2rem;
}

.pODwrapper table {
  overflow-x: auto;

  width: 100%;
  height: 100%;
  /* margin: ; */
}

table thead {
  width: 100%;
  height: 50px;
}

table tbody {
  width: 100%;
  height: 50px;
}

.pODwrapper table thead th {
  border: 1px solid var(--borderColorVar);
  height: 50px;
}

.pODwrapper table tbody td {
  border: 1px solid var(--borderColorVar);
  text-align: center;
  height: 50px;
}

.pODth1 {
  width: 50%;
  text-align: left;
  text-align: left;
}

.pODth2 {
  text-align: center;
}

.pODCont {
  /* text-align: start; */

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.pODBin {
  text-align: center;
}

.pODTd1Img {
  text-align: center;
  vertical-align: center;

  border: 1px solid var(--borderColorVar);

  width: 120px;
  height: 120px;

  object-fit: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pODTd1ImgDetails {
  /* padding: 20px; */
  padding-left: 10px;
  text-align: start;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.cDeleteBox {
  position: absolute;

  top: 20vh;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 40%;
  height: 90px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  justify-self: center;

  border-radius: 15px;

  border: 1px solid var(--borderColorVar);
  background-color: var(--backgroundColorVar);

}

.pODLogoTrash {
  cursor: pointer;
  font-size: 2rem;
}