.productMCont {
  width: 430px;
  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

/* small devices */
@media (max-width: 600px) {
  .productMCont {
    width: 99%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.productCont {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border: 0.1px solid rgb(66, 65, 65);
}

.productImg {
  width: 100%;
  height: 60%;
}

/* small devices */
@media (max-width: 600px) {
  .productImg {
    width: 100%;
    height: 50%;
  }
}

.productH1 {
  align-self: flex-start;
  padding-left: 5%;
  padding-top: 3%;

  font-weight: bold;
  font-size: 1.4rem;
}

.productP {
  align-self: flex-start;
  padding-left: 5%;
  /* padding-top: 1%; */

  height: 120px;
  font-size: 1.2rem;

  /* border: 1px solid black; */
  overflow: hidden;
}

.productButton {
  background-color: #0a8020;
  color: white;
  width: 80%;
  height: 8%;

  border-radius: 15px;
  /* margin-top: 20px; */

  font-size: 1.5rem;

  justify-self: flex-end;
}

/* small devices */
@media (max-width: 600px) {
  .productButton {
    background-color: #0a8020;
    color: white;
    width: 80%;
    height: 8%;

    border-radius: 15px;
    margin-top: 70px;

    font-size: 1.5rem;

    justify-self: flex-end;
  }
}