table {
  width: 100%;
  overflow-y: scroll;
}


.cartTableDataWithImage {
  display: inline-block;
}

.cartTableDataWithImage>img {
  float: left;
}

.cartTableDataWithImage>div {
  float: left;
  vertical-align: bottom;
}