.wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.wrapper table {
  width: auto;
  min-width: 1000px;
  /* height: 700px; */
}

table thead {
  width: 100%;
  height: 50px;
}


table tbody {
  width: 100%;
}

.wrapper table thead th {
  border: 1px solid black;
}

.wrapper table tbody td {
  border: 1px solid black;
  text-align: center;
}

.CTth1 {
  width: 50%;
  text-align: left;
  text-align: left;
}

.CTth2 {
  text-align: center;
}



.cTCont {
  /* text-align: start; */

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

}

.cTBin {
  text-align: center;
}

.ctTd1Img {
  text-align: center;
  vertical-align: center;

  border: 1px solid black;

  width: 30%;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ctTd1ImgDetails {
  padding: 20px;
  text-align: start;
}