table {
  width: 100%;
  height: 60%;
  border: 1px solid black;
}

thead tr {
  border: 1px solid blue;
}

thead tr th {
  border: 1px solid blue;
}

tbody tr td {
  border: 1px solid blue;
}

.th1 {
  width: 50%;
  text-align: center;
}