.loginMCont {
  width: 100vw;
  height: 60vh;

  margin-top: 170px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  /* border: 1px solid black; */

}

.loginCont {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;
  /* border: 1px solid black; */
}

.loginCont>label {
  align-self: flex-start;
  margin-left: 10px;

  font-size: 1.2rem;
  color: #747474;

  font-weight: bold;
}

.loginCont>input {
  align-self: flex-start;
  width: 300px;
  /* height: 35px; */

  color: #747474;
  background-color: #f8f9fa;

  border: 0.2px solid black;
  outline: hidden;
}

.loginButtonCont {
  margin-top: 30px;
}

.loginButton {
  width: 150px;
  /* height: 30px; */

  font-size: 1rem;
  color: #747474;
  background-color: #f8f9fa;

  border-radius: 10px;
  font-weight: bold;

  cursor: pointer;
}

.loginNewUser {
  width: 100vw;

  margin-top: 30px;

  font-size: 1.2rem;
  color: #c80f2e;
  cursor: pointer;

  display: flex;
  justify-content: center;
}